<!DOCTYPE html>

<html lang="en">
<head>
  <title>SIYA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
 .page-footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   padding-bottom: 20px;

}
  .img-container {
    text-align: center;
  }
      .navbar-nav {
      font-family:Georgia;
      font-size: 20px
    }
</style>

<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
  <a class="navbar-brand" href="/"></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="/team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="/aboutus">About us</a>
    </li>
  </ul>
</nav>
<body>
	<h1 style="padding-top: 100px; padding-left: 110px; font-family:Georgia;">About Us</h1>
  <div class="img-container">
    <img src="/static/logo.png" width="300px" height="300px">
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <p style="font-size:40px"><b>SIYA</b> is how people build softwares</p>
          <br>
          <p>  Established in 2018 Siya is an open source organization for helping and nurturing beginners. We’re starting a community where people can learn, share, and work together to build software. Come help us make collaboration even better.</p>
             <p>We’ve built a company we truly love working for, and we think you will too. Here you can get free access to various project ideas and their implementations. </p>
             <p>We’re working hard to build a supportive, welcoming place for users and coders.</p>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

<br>
<footer class="page-footer full-width">
        <div class="white text-center padding-top-s padding-bottom-s text-smooth text-small">© 2020 Siya-Portfolio</div>
    </footer>

</body>



</html>
