<footer class="page-footer full-width">
        <div class="white text-center padding-top-s padding-bottom-s text-smooth text-small">© 2020 Siya-Portfolio</div>
    </footer><!DOCTYPE html>

<html lang="en">
<head>
  <title>SIYA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
  <a class="navbar-brand" href="/"></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="/team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="/aboutus">About us</a>
    </li>
  </ul>
</nav>

<style>
.navbar-nav {
	font-family:Georgia; 
	font-size: 20px
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}
.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.row {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 10px;
}
 .page-footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   padding-bottom: 20px;

}

</style>

<body>
<h1 style="padding-top: 100px; padding-left: 110px; font-family:Georgia;">Projects</h1>
<div class="col-12">
<div class="row">
<div class="container-fluid">
  <div class="row text-center">
      <div class="col-xl-5 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/examingo.jpg" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Examingo</h5><span class="small text-uppercase text-muted">Online Exam Portal</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Prashant13199/exam-portal-examingo" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="/examingo" class="social-link"><i class="fa fa-file"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/chat.jpg" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Siya Chat</h5><span class="small text-uppercase text-muted">Chat App</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Prashant13199/siya-chat-app" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="/chat" class="social-link"><i class="fa fa-file"></i></a></li>
            <li class="list-inline-item"><a href="https://siya-chat-app.herokuapp.com" class="social-link"><i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/weather.png" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Siya Weather</h5><span class="small text-uppercase text-muted">Weather App</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Prashant13199/siya-weather-website" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="/weather" class="social-link"><i class="fa fa-file"></i></a></li>
            <li class="list-inline-item"><a href="https://siya-weather.herokuapp.com" class="social-link"><i class="fa fa-globe"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/task.png" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Siya Task Manager</h5><span class="small text-uppercase text-muted">Task Manager App</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Prashant13199/siya-task-manager" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="/taskmanager" class="social-link"><i class="fa fa-file"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/chatbot.png" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Siya Chat Bot</h5><span class="small text-uppercase text-muted">Chat Bot App</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/manavchouhan/edchat" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="/chatbot" class="social-link"><i class="fa fa-file"></i></a></li>
          </ul>
        </div>
      </div>

	</div>
</div>
</div>
</div>

<br><br>
<footer class="page-footer full-width">
        <div class="white text-center padding-top-s padding-bottom-s text-smooth text-small">© 2020 Siya-Portfolio</div>
    </footer>

</body>
</html>