<!DOCTYPE html>

<html lang="en">
<head>
  <title>Team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">
  <a class="navbar-brand" href="/"></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-primary" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-danger" href="/team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="/aboutus">About us</a>
    </li>
  </ul>
</nav>

<style>
  .navbar-nav {
  font-family:Georgia; 
  font-size: 20px
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}
.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.row {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 10px;
}
 .page-footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   padding-bottom: 20px;

}
</style>

<body>
<h1 style="padding-top: 100px; padding-left: 110px; font-family:Georgia;">Our Team</h1>
<div class="col-12">
<div class="row">
<div class="container-fluid">
  <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-5 col-sm-6 mb-5">
      	<a href="prashant.html"> </a>
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/prashant.png" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Prashant Kumar</h5><span class="small text-uppercase text-muted">Software Developer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/Prashant13199" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/Prashant13199" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/prashant-kumar-923b6714a" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="/prashantresume" class="social-link"><i class="fa fa-user-circle"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-xl-5 col-sm-6 mb-5">
      	<a href="manav.html"> </a>
        <div class="bg-white rounded shadow-lg py-5 px-4"><img src="/static/manav.png" alt="" width="100" class=" rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0 text-dark">Manav Chouhan</h5><span class="small text-uppercase text-muted">Software Developer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/manavchouhan" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/being_manav._/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/manav-chouhan-5972881a1" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="manavresume" class="social-link"><i class="fa fa-user-circle"></i></a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
</div>
</div>

    <footer class="page-footer full-width">
        <div class="white text-center padding-top-s padding-bottom-s text-smooth text-small">© 2020 Siya-Portfolio</div>
    </footer>

</body>
</html>